$facebook-color: #0c5dd6;
$google-color: #e94647;
$twitter-color: #1a91da;
$border-color: #130a3f;
$font-color: #130a3f;
$shadow-color: #130a3f69;
$border-color-light: rgb(235, 235, 235);
$font-color-light: rgb(235, 235, 235);
$loginbox-color: rgba(255, 255, 255, 0.2);
$hover-color: #130a3f80;
$footerbackground-color: rgba(16, 9, 62, 0.2);
