$facebook-color: #0c5dd6;
$google-color: #e94647;
$twitter-color: #1a91da;
$border-color: #130a3f;
$font-color: #130a3f;
$border-color-light: rgb(255, 255, 255);
$font-color-light: rgb(255, 255, 255);
$loginbox-color: rgba(255, 255, 255, 0.2);
$hover-color: #130a3f80;
