.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  a {
    width: 18rem;
    height: 5rem;
    border-radius: 5px;
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    text-decoration: none;
    color: $font-color-light;
    font-size: 1.25rem;
    &:hover {
      background-color: $hover-color;
    }
  }
  .facebook {
    background-color: $facebook-color;
  }
  .google {
    background-color: $google-color;
  }
  .twitter {
    background-color: $twitter-color;
  }
  .fab {
    padding: 0.25rem 1rem 0.25rem 0;
    font-size: 2.5rem;
    border-right: 1px solid $border-color-light;
  }
  p {
    align-self: center;
    justify-self: start;
  }
}
