body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .login-box {
    width: 55vw;
    height: 60vh;
    background-color: $loginbox-color;
    display: grid;
    grid-template-columns: 49% 2% 49%;
    grid-template-rows: 90% 10%;
  }
}
